<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Amigos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Amigos Cadastrados</h1>
    <ul>
        {% for amigo in amigos %}
            <li>{{ amigo['nome'] }} - {{ amigo['email'] }}</li>
        {% else %}
            <li>Nenhum amigo cadastrado.</li>
        {% endfor %}
    </ul>
    <ul id="lista-produtos"></ul>
    <a href="{{ url_for('adicionar') }}">Adicionar novo amigo</a>
</body>
</html>
