<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>Título da Página</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Company Logo</h1>
        </div>
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    <header>

    <section class="hero">
        <h1></h1>
        <p></p>
    </section>

    <section class="content">
        <h2>Lorem </h2>
        <div class="row">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </section>

    <section class="featured">
        <div class="row">
            <div class="box">
                <h3> asda</h3>
                <p></p>
            </div>
            <div class="box">
                <h3> asda</h3>
                <p></p>
            </div>
            <div class="box">
                <h3> asda</h3>
                <p></p>
            </div>
        </div>
    </section>

    <section class="boxes">
        <div class="box">
            <h3>aaa</h3>
            <p>aa</p>
        </div>
        <div class="box">
            <h3>aaa</h3>
            <p>aa</p>
        </div>
        <div class="box">
            <h3>aaa</h3>
            <p>aa</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Company Name, All rights reserved</p>
    </footer>
</body>
</html>
