h1{

    text-align:center;
    color: rgb(144, 135, 222);

    
}


label{
    /*Largura da tabela*/
    width: 100%;
    /*Colocar uma borda*/
    /*Margem*/
    margin-left: 350px;
    }


button{
    text-align: center;
    margin-left: 400px;
}
